.main {
  min-height: 100vh;
}

.sidebarOverlay {
  height: 100vh;
  // flex-flow: column;
}

.treeOverlay {
  height: calc(100vh - 3em);
  // flex-grow: 1;
}

.sidebar {
  position: fixed;
  height:inherit;
  overflow-y: scroll;
}

app-sidebar-bottom {
  position: fixed;
}