.main {
  min-height: 100vh;
}

.sidebarOverlay {
  height: 100vh;
}

.treeOverlay {
  height: calc(100vh - 3em);
}

.sidebar {
  position: fixed;
  height:inherit;
  overflow-y: scroll;
  z-index: 10000;
}

app-sidebar-bottom {
  position: fixed;
}