<kendo-dialog [title]="warning.title" *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center;">
    <!-- TODO field must be selected on prompt -->
    <input class="input" [(ngModel)]="warning.input" kendoTextBox type="text">
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="action('cancel')">Cancel</button>
    <button kendoButton (click)="action('ok')" primary="true">Ok</button>
  </kendo-dialog-actions>
</kendo-dialog>