<div class="fragments">

  <kendo-toolbar>
    <kendo-toolbar-button [disabled]="page == null" kendoButton [primary]="true"
      [text]="'Add'" (click)="newFragment()">
    </kendo-toolbar-button>
  </kendo-toolbar>

  <p class="centerText">{{page?page.text:"found elements"}}</p>

  <p class="centerText" *ngIf="errorMessage != null">
    {{ errorMessage }}
  </p>

  <div *ngFor="let el of fragments">
    <app-fragment [fragment]="el" [found]="found" (deleted)="deleteFragmentRequested($event)">
    </app-fragment>
  </div>

  <p class="centerText" *ngIf="found && fragments?.length < 1">
    0 elements
  </p>

</div>