<kendo-toolbar class="toolbar">
  <kendo-toolbar-button kendoButton [icon]="'folder-add Unicode: e902'" [primary]="true" [text]="'Add'"
    (click)="addDirectory()">
  </kendo-toolbar-button>

  <kendo-toolbar-button [disabled]="selectedItem == null || selectedItem?.type == 'page'" kendoButton [icon]="'file-add 
  Unicode: e907'" [primary]="true" [text]="'Add'" (click)="addPage()">
  </kendo-toolbar-button>

  <kendo-toolbar-button [disabled]="selectedItem == null" kendoButton [icon]="'delete'" [primary]="true" [text]="'Del'"
    (click)="delSitebarItem()">
  </kendo-toolbar-button>
</kendo-toolbar>

<div class="sidebar">
  <p fxLayoutAlign="center center" *ngIf="errorMessage != null && errorMessage.length > 0">
    {{ errorMessage }}
    <br>
    <button kendoButton (click)="reconnect()">Try again</button>
  </p>

  <kendo-treeview (focus)="focus()" (blur)="lostFocus()" [nodes]="data" textField="text" kendoTreeViewExpandable
    kendoTreeViewSelectable kendoTreeViewHierarchyBinding childrenField="items"
    (selectionChange)="handleSelection($event)" [(selectedKeys)]="selectedKeys" [(expandedKeys)]="expandedKeys">
  </kendo-treeview>
</div>