.copied {
  padding: 0.2em 0.7em;
  background: #ff6358;
  color: white;
  border-radius: 20px;
  position: relative;
  top: -2.3em;
  margin: 0.8em 2em;
  display:inline;
 }

 .fragment {
  margin: 1em 1em;
  background: #f6f6f6;
  border: solid 1px #ededed;
  width: calc(100vw - (14em + 2em + 2px)); //14 = sidebar width, 2em = fragment margni, 2px = fragment border
  padding: 0;
  pre {
    padding: 0; margin: 0;
    .code { 
      background: white;
      border: solid 1px #ededed;
    }
    .displayPre {
      width: calc(100% - 4em);
    }
  }
 }

 .material-icons {
   color: white;
 }

 .input {
  margin: 0.5em 1.5em; //1 = vertical, 2 = horizontal
 }
 
 .del {
  margin: 0.3em 1.7em;
 }

 .is-invalid {
   border: solid 1px #ff6358;
 }

 .warning {
   color: #ff6358;
 }

 .previewPre {
  margin: 0px;
  padding: 0px;
 }

 .fragmentTitleWrapper {
   .fragmentTitle {
     margin-top: 0.5em;
     float: left;
   }
   .fragmentDelete {
     float: right;
   }
   .floatEnd {
     clear: both;
   }
 }

 .fragmentEditButtons {
   button {
     height: 2em;
   }
 
   .remove {
    width: calc(30% - 2px) ;
  }
  .ok { width: calc(70% - 2px);}
 }