<div class="fragment">
  <kendo-textbox-container class="input" floatingLabel="Title">
    <input kendoTextBox [(ngModel)]="fragment.title" />
  </kendo-textbox-container>
  <br>
  <kendo-textbox-container class="input" floatingLabel="Content">
    <textarea kendoTextArea [autoSize]="true" [(ngModel)]="fragment.content" (click)="copy($event)"></textarea>
  </kendo-textbox-container>

  <div *ngIf="copied" class="copied">
    Copied
  </div> 
  <br>

  <button class="del" kendoButton [primary]="true" (click)="delete()">
    <i class="material-icons">
      delete
    </i>
  </button>
</div>