<div class="fragment">
  <div class="editable" *ngIf="editMode">
    <form novalidate (ngSubmit)="submit()" [formGroup]="fragmentForm">
      <div>
        <kendo-textbox-container class="input" floatingLabel="Title">
          <input kendoTextBox formControlName="title" [ngClass]="{'is-invalid': (fragmentForm?.get('title').touched ||
          fragmentForm?.get('title').dirty) &&
          !fragmentForm?.get('title').valid }">
        </kendo-textbox-container>
        <p class="input warning" *ngIf="fragmentForm.get('title').dirty && fragmentForm?.get('title').errors?.required">
          Please enter a title.
        </p>
      </div>

      <br>

      <div>
        <kendo-textbox-container class="input" floatingLabel="Content">
          <textarea kendoTextArea formControlName="content" [ngClass]="{'is-invalid': (fragmentForm.get('content').touched ||
            fragmentForm.get('content').dirty) &&
            !fragmentForm.get('content').valid }" [autoSize]="true" allow-tab>
          </textarea>
          <br>
          Preview:
          <pre class="previewPre">
            <code class="code" [highlight]="fragment.content">
            </code>
          </pre>
        </kendo-textbox-container>
        <p class="input warning"
          *ngIf="fragmentForm.get('content').dirty && fragmentForm.get('content').errors?.required">
          Please enter the content.
        </p>
      </div>

      <p class="centerText" style="position: absolute">
        <span *ngIf="synchronizing" class="k-i-loading k-icon centerText" style="font-size: 18px;">
        </span>
      </p>

      <br>
    </form>

    <div class="fragmentEditButtons input" fxLayout="row">
      <button fxFlex="fill" fxFill class="ok" kendoButton [primary]="false" (click)="disbableEditMode()">
        <span class="k-icon k-i-arrow-chevron-left"></span>
      </button>

      <button class="remove" kendoButton [primary]="true" (click)="delete()">
        <span class="k-icon k-i-delete"></span>
      </button>
    </div>
  </div>

  <div class="uneditable" *ngIf="!editMode" style="position: abosulute; height: calc(100% - 5em);">
    <div class="fragmentTitleWrapper">
      <!-- class="input" -->
      <div class="fragmentTitle">
        {{fragment.title}}
      </div>
      <button class="fragmentDelete" kendoButton [primary]="true" (click)="enableEditMode()">
        Edit
      </button>
      <span class="floatEnd"></span>
      <br>
    </div>
    <pre>
      <code class="code displayPre" [highlight]="fragment.content" (click)="copy($event)">
      </code>
    </pre>

    <div class="wrapper" style="position: absolute; text-align: right;">
      <div *ngIf="copied" class="copied">
        Copied
      </div>
    </div>

  </div>

</div>