<form class="formContainer" fxLayout="column" fxLayoutAlign="space-around center" (ngSubmit)="submit()"
  [formGroup]="form">
  <div>
    <input kendoTextBox placeholder="Name" formControlName="name" />
  </div>
  <div>
    <input type="password" kendoTextBox placeholder="Password" formControlName="password" />
  </div>
  <div *ngIf="response != null && response.length > 0">
    {{ response }}
  </div>
  <div>
    <button kendoButton type="submit" [disabled]="!form.valid">Submit</button>
  </div>
</form>