.toolbar {
  height: calc(3em - 2px);
}
/* Kendo UI example application styles */
.example-config { 
  background-color: rgba(0,0,0,.03); 
  border: 1px solid rgba(0,0,0,.08); 

  display: flex;
  justify-content: center;
  flex-direction: row;
}

.search {
  margin: 2px;
  width: 20%;
}

.example-config input {
  margin: 2px;
  width: 100%;
  height: calc(100% - 4px);

}
