body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.input {
  width: calc(100% - 3em);
  margin: 0.5em 1.5em;
  font-size: 16px;
}

.k-textbox-container > .k-label {
  font-size: 16px;
}

h1 {
  text-align: center;
}