@import '~highlight.js/styles/default.css';

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.input {
  width: calc(100% - 3em);
  font-size: 16px;
}

.k-textbox-container > .k-label {
  font-size: 13.5px;
}

h1 {
  text-align: center;
}

.centerText {
  text-align: center;
}